<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>E-commerce-Platform</display-name>
  <servlet>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>servlets.GetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>servlets.RedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlets.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>servlets.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderHistory</servlet-name>
    <servlet-class>servlets.OrderHistory</servlet-class>
  </servlet>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <filter>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>Filter.AuthenticateFilter</filter-class>
  </filter>
  <context-param>
    <param-name>dbConnectionURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/hplus</param-value>
  </context-param>
</web-app>